*{box-sizing: border-box;}

 .bordespagina {
   width: 90%;
   margin: 0 auto;
 }

 body {
     margin: 0;
 }

 .col1 {
   border: thin solid black;
   width: 75%;
   float: right;
   overflow: hidden;
   text-align: center;
 }
 .col2 {
   border: thin solid black;
   width: 25%;
   float: left;
   overflow: hidden;
   text-align: center;
 }

 .top-menu {
   border: thin solid black;
   text-align: center;
   width: 75%;
   float: left;
 }

 .top-left-menu {
   border: thin solid black;
   text-align: center;
   width: 25%;
   float: left;
 }

 .menu {
   border: thin solid black;
   text-align: center;
   width: 75%;
   float: right;
 }

 .card {
   border: thin solid black;
   width: 32.85%;
   margin: 1px;
   float: right;
   overflow: hidden;
 }

.logo-image {
  width: 100px;
  height: 60px;
}
